    $color1:rgb(230, 230, 250);
    $gray: rgb(116, 117, 119);
    $lila: #550747;
    $texto: #EEE7F4;
    $lilaFuerte: #401e6f;
    $valid: #3cd33c;
    $placeholder: #ebe3e9;
    $negroSuave: #313131;
    $invalid: rgb(169, 33, 33);
    $submit-hover: #7e13b8;
    
    /* BLANCO */
    $blanco: #ede9e9;
    $blanco1: #f4f1f1;
    $blanco2: #F3F3F2;
    $blanco3: #FBF9FA;
    $blanco4: #F2F4F3;
    $blanco5: #F5F7F8;
    
    /* CONTAINER */
    $blanCont: #e3e0e0;
    /* GRIS */
    $gris: #8B8A8B;
    $gris2: #a1a3a6;
    
    /* Enlaces */
    $grisTono1: #333333;

    $grisTono2: #555555;
    $grisTono3: #777777;
    $grisTono4: #999999;
    
    /* <hr> */
    $linea: #bababa;
    
    /* Text area */
    $grisTono5: #dcdcdc;
    /* Mis colores por defecto */
    $default: rgba(43, 43, 43, 0.36);

    $negro: #191919;
    $negroclaro: #444444;
    $negrogris: #8E8E8E;

    /* NARANJA */
    $orange: #e01d0b;
    /* Color para el hover de los botones de la seccion 'dc vs marvel' */
    $orange1: #c71606;
    $orange2: #e36559;

    /* Color para el estado 'active'de los enlace del encabezado */
    $orange4: #d52616;
    /* COLORMIND 1*/
    $rojo: #EA2A12;
    $naranja: #EB700F;
    $maronclaro: #B3A76A;
    $verdelima: #40C173;
    $verde: #20EF4E;
    /* COLORMIND 2*/
    $verde: #61A070;
    $amarillo: #EFB91F;
    $naranja: #EF8A1C;
    $rojovino: #C61E37;
    /* COLORMIND 3*/

