@import "variables";
@import "mixins";
@import "functions";

* {
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
}

html {
  scroll-behavior: smooth;
}

hr {
  width: 90%;
  height: tpx(3);
  margin: tpx(83) 0;
  background-color: $linea;
  border: none;
}

a,
p,
div,
h1,
h2,
h3,
li,
span {
  color: rgb(229, 229, 230);
}

h1 {
  font-weight: 700;
}
h2 {
  font-weight: 400;
}
h3 {
  font-weight: 300;
}

li {
  font-weight: 200;
  list-style: none;
}

a {
  font-weight: 500;
  text-decoration: none;
}

p {
  font-weight: 300;
}

body {
  background-color: $blanco2;
}

/* Main */
main {
  position: relative;
}

img {
  overflow: hidden;
  background-color: $gris !important;
}

hr {
  margin: tpx(40);
  width: auto;
}

.header {
  width: 100vw;
  min-height: 60px;
  background-color: $negroSuave;
  position: relative;
  &_logo {
    position: absolute;
    z-index: 1;
    top: 21px;
    left: 5px;
  }
  &_notificacion {
    display: none;
  }
  &_menuHmb {
    position: absolute;
    top: calc(30px - 14.5px);
    right: tpx(5);
    padding: tpx(2) tpx(5);
    font-size: tpx(19);
    z-index: 9;

    .hamburger {
      padding: tpx(0);
    }
  }
  /* Menu header wrapper */
  &_cnvg {
    display: none;
    position: sticky;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background-color: inherit;
    padding-top: 0.875rem;
  }
  &_navegacion {
    width: max-content;
    margin: auto;
    margin-top: tpx(40);
    /* display: grid; */
  }
  &_cbusqueda {
    margin-top: tpx(20);
    [type="search"] {
      width: tpx(230);
      padding: tpx(10);
      background-color: $negro;
      outline: solid 2px $blanco;
      border: none;
      border-radius: tpx(20);
      -webkit-border-radius: tpx(20);
      -moz-border-radius: tpx(20);
      -ms-border-radius: tpx(20);
      -o-border-radius: tpx(20);
    } /* form{
        justify-self: center;
      }
 */
    & + ul {
      width: max-content;
      margin: auto;
      margin-top: tpx(20);

      li {
        margin: 0 tpx(10);
        padding: tpx(10);
        user-select: none;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        a {
          user-select: none;
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
        }
      }
    }
  }
  &_lgsg {
    padding: tpx(17) 0 0;
    text-align: center;

    .logins:hover {
      text-decoration: underline;
      color: khaki;
    }
    a,
    p {
      font-size: tpx(15);
    }
  }
  &_media_wrapper {
    margin: tpx(10) 0;
    gap: tpx(50);
    text-align: center;

    h3 {
      display: none;
    }

    ul {
      margin-top: tpx(10);
      display: flex;
      justify-content: center;
      gap: tpx(10);

      li {
        width: tpx(30);
        height: tpx(30);
        border-radius: 50%;
        background-color: $negroclaro;
        position: relative;
        overflow: hidden;
      }

      li::before {
        animation: waves 2s infinite linear;
        filter: blur(4px);
        position: absolute;
        content: "";
        bottom: tpx(-0);
        right: 0;
        background: linear-gradient(rgb(54, 54, 54) 0%, rgb(109, 108, 108) 80%);
        width: 100%;
        height: 80%;
        transform: skew(90rad);
      }

      @keyframes waves {
        from {
          bottom: -75%;
        }
        /*  30%{
            bottom: tpx(20);
          } */
        to {
          bottom: 120%;
        }
      }

      i {
        font-size: tpx(20);
      }
    }
    /* Contenido de la pagina */
    & > section:nth-child(2) {
      article {
        margin: 0 tpx(20);

        h3 {
          margin-bottom: tpx(10);
        }

        li {
          margin: tpx(10) 0;
        }
      }
    }
  }
}

.container {
  margin: 0 tpx(25);
}

/* Main */
.stikybutton {
  /*@includemyFlex():;
  */position: fixed;
  right: 10px;
  bottom: 5vh;
  width: 30px;
  height: 30px;
  padding: 1rem;
  z-index: 3;
  background-color: rgb(203 192 188 / 14%) !important;
  backdrop-filter: blur(3px);
  border-radius: 50%;
  border: solid 3px $orange;
  font-weight: 200;
  font-size: tpx(14);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.stikybutton:hover{
  background-color: $orange1 !important;
}
.stikybutton:focus{
  background-color: $orange2 !important;
}
.stikybutton:active{
  background-color: $orange2 !important;
}
.caroussel {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  &_wrapper {
    width: 400%;
    height: 100%;
    display: flex;
    scroll-snap-type: x mandatory;
    animation: imageScroll 19.2s 1.5s infinite alternate;
    -webkit-animation: imageScroll 19.2s 1.5s infinite alternate;
    
    @keyframes imageScroll{
      0% {
        transform: translateX(0%);
      }
      55% {
        transform: translateX(calc(-100% / 4) * 1);
        -webkit-transform: translateX(calc(-100% / 4) * 1);
        -moz-transform: translateX(calc(-100% / 4) * 1);
        -ms-transform: translateX(calc(-100% / 4) * 1);
        -o-transform: translateX(calc(-100% / 4) * 1);
      }
      75% {
        transform: translateX(calc(-100% / 4) * 2);
        -webkit-transform: translateX(calc(-100% / 4) * 2);
        -moz-transform: translateX(calc(-100% / 4) * 2);
        -ms-transform: translateX(calc(-100% / 4) * 2);
        -o-transform: translateX(calc(-100% / 4) * 2);
      }
      100% {
        transform: translateX(calc(-100% / 4) * 3);
        -webkit-transform: translateX(calc(-100% / 4) * 3);
        -moz-transform: translateX(calc(-100% / 4) * 3);
        -ms-transform: translateX(calc(-100% / 4) * 3);
        -o-transform: translateX(calc(-100% / 4) * 3);
      }
    }
    &_item {
      scroll-snap-align: start;
      height: 100%;
      width: 90%;
      background-color: $gris;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.recientes {
  margin-top: tpx(20);

  & > p,.otn{
    /* color: $grisTono1; */
    margin-bottom: 1rem;
    border-bottom: solid 2px $orange;
  }

  &_titulo {
    @include radiusTitle();
    @include encabezadosMobil();
  }

  &_img {
    margin-top: tpx(10);
    position: relative;
    overflow: none;

    img {
      display: block;
      height: tpx(200);
      width: 100%;
      object-fit: cover;
    }
    figcaption {
      position: absolute;
      width: calc(100% - 2rem);
      height: tpx(90);
      bottom: 0px;
      padding: 0 1rem;
      background-color: rgba(2, 2, 2, 0.607);

      h3{
        width: max-content;
        border-bottom: solid .2rem $orange;
        letter-spacing: tpx(2);
      }
      p{
        font-family: 'Roboto';
        font-weight: 300;
      }
    }
  }

  &_aside {
    overflow-X: scroll;
    scroll-snap-type: x mandatory;

    h2,h3{
      color: $grisTono1;
    }

    &_wrapper {
      margin-bottom: tpx(18);
      width: tpx(810);
      display: grid;
      grid-template: 235px / repeat(6, 128px);
      justify-content: start;
      align-items: center;

      .aside_wrapper_items/* figure */ {
        text-align: center;
        margin: 0 4px;
        font-size: tpx(15);
        scroll-snap-align:center;

        img {
          display: block;
          @include radius();
          height: 170px;
          width: 100%;
          object-fit: cover;
        }
        figcaption {
          margin-top: tpx(12);
          text-align: center;
          font-size: tpx(10);
        }
      }
    }
  }
}

.rodajes {
  &_titulo {
    @include radiusTitle();
    @include encabezadosMobil();
  }

  &_info {
    margin-top: tpx(20);
    position: relative;

    img {
      @include radius();
      display: block;
      height: tpx(200);
      width: 100%;
      object-fit: cover;
    }
    figcaption {
      margin: .3rem 0 0 0;
      width: 100%;
      height: 6.5rem;
      bottom: 0px;
      overflow: hidden;
    
      h3,p{
        color: $grisTono1;
      }

      h3{
        width: max-content;
        border-bottom: solid .2rem $orange;
      }

      p{
        margin: .2rem 0 0 0;
        font-family: 'Roboto';
        font-weight: 400;
      }
    }
  }
  &_art div:last-child{
    margin-top: 1rem;
    a{
      @include enlaces();
    }
  }

  &_aside {
    display: none;
  }
}

.trailers {
  width: 100%;
  height: tpx(750);

  .labelButton{
    height: 2rem;
    border: solid .2rem $blanCont;
    background-color: $blanCont;
  }
  .labelButton:hover{
    background-color: $blanco2;
  }
  .labelButton:active{
    background-color: $gris2;
  }
  .labelButton:focus{
    background-color: #ffff;
  }
  label {
    position: relative;
    margin: tpx(13) tpx(10) tpx(10);
    padding:.5rem .5rem;
    font-size: tpx(11);
    font-weight: 500;
    color: $orange;
    font-weight: 500;
    font-size: tpx(18);
  }
  label::before {
    position: absolute;
    content: "";
    width: 0%;
    height: tpx(4.5);
    bottom: 0;
    left: 0;
    background-color: $orange;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .labelButton:focus label::before {
    width: 100%;
    transition: all 0.2s ease-in-out;
  }

  [type="radio"] {
    top: 0;
    position: absolute;
    visibility: hidden;
  }
  #series {
    left: tpx(100);
  }
  #animes {
    left: tpx(200);
  }

  &_titulo {
    @include radiusTitle();
    @include encabezadosMobil();
  }

  &_galeria {
    margin-top: tpx(30);
    position: relative;
    height: calc(100% - 13%);
    overflow-y: scroll;
  }

  #pelis:checked + &_genero > figure {
    background-color: red;
    z-index: 1;
  }
  #series:checked + &_genero > figure {
    background-color: rgb(60, 255, 0);
    z-index: 1;
  }
  #animes:checked + &_genero > figure {
    z-index: 1;

    img {
      object-fit: cover;
    }
  }

  &_genero {
    position: absolute;
    /* margin-top: tpx(50); */
    top: 0;
    width: 100%;
    gap: tpx(40);

    figure:not(figure:first-child) {
      margin-top: tpx(10);
      overflow: hidden;
    }
    
    figure {
      position: relative;
      overflow: hidden;
    }

    img {
      position: relative;
      display: block;
      height: tpx(200);
      width: 100%;
      object-fit: cover;
    }
    figcaption {
      position: absolute;
      bottom: tpx(20);
      width: 100%;
      height: tpx(90);
      padding: 0 0 0 tpx(20);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-color: rgba(17, 17, 17, 0.626);
    }
  }

  &_aside {
    display: none;
  }
}

.dcmar {
  margin-top: tpx(0);

  h3,p,a{
    color: $grisTono1;
  }

  h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 4px $orange;
    font-weight: 500;
    font-size: tpx(22);
  }
  
  a{
    font-weight: 300;
    border-bottom: solid 2px $orange;
  }

  hr {
    display: none;
  }

  &_rw {
    margin: 0 0 tpx(20);
  }

  &_titulo {
    @include radiusTitle();
    @include encabezadosMobil();
  }
  &_container {
    display: flex;
    flex-direction: column;
    gap: tpx(10);
  }
  &_imgcon {
    position: relative;
    display: flex;
    justify-content: flex-start;
    div {
      position: absolute;
      left:calc(100% - 70%);
      width: 6rem;
      margin: 0 tpx(10);
      align-self: center;
      .versus{
        display: none;
      }
      img{
        background-color: inherit !important;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
    figure {
      @include radius();
      width: 10rem;
      height: tpx(140);
      overflow: hidden;
      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-color: $negroclaro;
      }
    }
  }
  &_imgcon figure:nth-child(1){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &_imgcon figure:nth-child(3){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &_comentarios {
    display: none;
  }
}

.valoradas {
  &_titulo {
    @include encabezadosMobil();
  }

  h3,h4,p{
    color: $grisTono1;
  }

  &_container {
    margin-top: tpx(15);
    display: flex;
    flex-direction: column;
    gap: tpx(10);

    li {
      padding: tpx(5) 0;
      margin: tpx(3) 0;
      border-bottom: solid 2px $gris2;

      a {
        span {
          float: right;
          background-color: green;

          img {
            display: block;
          }
        }
      }
    }
  }
  &_categoria {
    & > figure img {
      display: none;
    }
    h3 {
      margin-bottom: 1rem;
      border-bottom: solid 4px #e01d0b;
      font-weight: 500;
      font-size: 1.375rem;
      text-transform: uppercase;
    }
  }
  &_lista {
    & > ul > li {
      margin: tpx(15) 0;
    }
    & > ul > li:nth-child(odd) {
      display: none;
    }
    figure {
      padding: 0 tpx(15) 0 0;
      display: flex;
      justify-content: flex-start;
      height: tpx(160);

      & > img {
        @include radius();
        display: block;
        height: 100%;
        width: 35%;
        margin-right: tpx(8);
      }
      figcaption {
        width: 60%;
        display: grid;
        grid-template-rows: min-content 3fr 1fr;
        gap: 10px;

        h4{
          font-weight: 500;
        }
        p {
          font-size: 1rem;
          font-family: 'Roboto';
          font-weight: 500;
        }
        span {
          overflow: hidden;
          width: tpx(25);
          height: tpx(25);
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.plataformas{
  &_titulo {
    padding-left: 1rem;
    border-left: solid 4px $orange;
    h2{
      color: $orange;
    }
  }
  margin-top: 5rem;
  &_wrapper {
    overflow: hidden;
    height: auto;
   
    & > div{
      position: relative;
      width: 100%;
      height: 19rem;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
    h2{
      color: $grisTono1;
      margin-bottom: tpx(15);
      border-bottom: solid 2px $orange;

    }
    &_inner {
      position: absolute;
      display: flex;
      width: auto;
      align-items: center;
      margin-bottom: tpx(10);
      scroll-snap-align: center;
      
      .plataformas_items{
      display: inline-block;
      width: 9rem;
      height: 15rem;
      margin: 0 8px;
      font-size: tpx(15);
      text-align: center;
      scroll-snap-align: start;

      img {
        display: block;
        @include radius();
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      figcaption {
        margin-top: tpx(12);
        text-align: center;
        
        h3{
          font-size: tpx(14);
          color: $grisTono1;
        }
      }
    }
  }
}
  &_wrapper:nth-child(n+2){
    margin-top: 2rem;
  }
}

/* FOOTER */
.footer {
  margin-top: tpx(90);
  padding-top: tpx(15);
  background-color: $negro;
  font-size: 13px;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: tpx(20);
    margin-bottom: tpx(20);

    .media_wrapper {
      margin: 0;
      gap: tpx(50);
      text-align: center;

      ul {
        margin-top: tpx(10);
        display: flex;
        justify-content: space-between;
        gap: tpx(15);

        li {
          width: tpx(30);
          height: tpx(30);
          border-radius: 50%;
          background-color: $negroclaro;
          position: relative;
          overflow: hidden;
        }

        i {
          font-size: tpx(20);
        }
      }
      /* Contenido de la pagina */
      & > section:nth-child(2) {
        article {
          margin: 0 tpx(20);

          h3 {
            margin-bottom: tpx(10);
          }

          li {
            margin: tpx(10) 0;
          }
        }
      }
    }
  }

  &_categoria_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: tpx(10);

    ul {
      display: none;
    }
  }
  /* Logo + redes sociales */

  /* Copyright */
  & > section:nth-child(2) {
    border-top: solid tpx(1.4) $negroclaro;
    display: flex;
    justify-content: space-between;
    padding: tpx(5) tpx(15);
  }
}
/* Fin footer */

/* ------------> MEDIA QUERIES ~MÓBIL~ */

/* Iphone 5/SE (HEIGHT) */
@media screen and (min-height: 481px) and (max-height: 568px) {
  .header {
    &_navegacion {
      margin-top: tpx(50);
    }
    &_lgsg {
      margin: tpx(70) 0 0;
    }
  }
}
/* Samsung S9+ */
@media screen and (min-width: 320px) and (min-height: 658px) {
  .header {
    &_navegacion {
      margin-top: tpx(50);
    }
    &_lgsg {
      padding: tpx(150) 0 0;
      text-align: center;

      .logins {
        font-size: 18px;
      }
      .logins:hover {
        text-decoration: underline;
        color: khaki;
      }
    }
    &_media_wrapper {
      margin: tpx(50) 0;
      text-align: center;

      h3 {
        display: none;
      }

      ul {
        margin-top: tpx(10);
        display: flex;
        justify-content: center;
        gap: tpx(10);

        li {
          width: tpx(30);
          height: tpx(30);
          border-radius: 50%;
          background-color: $negroclaro;
          position: relative;
          overflow: hidden;
        }

        li::before {
          animation: waves 2s infinite linear;
          filter: blur(4px);
          position: absolute;
          content: "";
          bottom: tpx(-0);
          right: 0;
          background: linear-gradient(
            rgb(54, 54, 54) 0%,
            rgb(109, 108, 108) 80%
          );
          width: 100%;
          height: 80%;
          transform: skew(90rad);
        }

        @keyframes waves {
          from {
            bottom: -75%;
          }
          /*  30%{
            bottom: tpx(20);
          } */
          to {
            bottom: 120%;
          }
        }

        i {
          font-size: tpx(20);
        }
      }
      /* Contenido de la pagina */
      & > section:nth-child(2) {
        article {
          margin: 0 tpx(20);

          h3 {
            margin-bottom: tpx(10);
          }

          li {
            margin: tpx(10) 0;
          }
        }
      }
    }
  }
}
/* Samsung S8 */
@media screen and (min-width: 360px) {
  .header {
    /* Menu header wrapper */
    &_cnvg {
      display: none;
      position: sticky;
      width: 100vw;
      height: 100vh;
      z-index: 4;
      background-color: inherit;
      padding-top: 1.875rem;
    }
    &_navegacion {
      width: max-content;
      margin: auto;
      margin-top: tpx(40);
    }
    &_cbusqueda {
      [type="search"] {
        width: tpx(280);
        padding: tpx(15);
        background-color: $negro;
        border: none;
        border-radius: tpx(20);
        -webkit-border-radius: tpx(20);
        -moz-border-radius: tpx(20);
        -ms-border-radius: tpx(20);
        -o-border-radius: tpx(20);
      }

      & + ul {
        width: max-content;
        margin: auto;
        margin-top: tpx(20);

        li {
          margin: 0 tpx(10);
          padding: tpx(10);
          user-select: none;
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          a {
            font-size: tpx(20);
            user-select: none;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
          }
        }
        li:not(li:first-child) {
          margin-top: tpx(10);
        }
      }
    }
    &_lgsg {
      margin-top: tpx(70);
      text-align: center;
      line-height: 2;
      font-weight: bold;

      .logins:hover {
        text-decoration: underline;
        color: khaki;
      }

      a,
      p {
        font-size: tpx(16);
      }
    }
    &_media_wrapper {
      margin: tpx(40) 0;
      gap: tpx(50);
      text-align: center;

      ul {
        margin-top: tpx(10);
        display: flex;
        justify-content: center;
        gap: tpx(15);

        li {
          width: tpx(30);
          height: tpx(30);
          border-radius: 50%;
          background-color: $negroclaro;
          position: relative;
          overflow: hidden;
        }

        li::before {
          animation: waves 2s infinite linear;
          filter: blur(4px);
          position: absolute;
          content: "";
          bottom: tpx(-0);
          right: 0;
          background: linear-gradient(
            rgb(54, 54, 54) 0%,
            rgb(109, 108, 108) 80%
          );
          width: 100%;
          height: 80%;
          transform: skew(90rad);
        }

        @keyframes waves {
          from {
            bottom: -75%;
          }
          /*  30%{
            bottom: tpx(20);
          } */
          to {
            bottom: 120%;
          }
        }

        i {
          font-size: tpx(20);
        }
      }
      /* Contenido de la pagina */
      & > section:nth-child(2) {
        article {
          margin: 0 tpx(20);

          h3 {
            margin-bottom: tpx(10);
          }

          li {
            margin: tpx(10) 0;
          }
        }
      }
    }
  }
}
/* Samsung S5 S8+ */
@media screen and (min-width: 360px) and (min-height: 640px) and (max-height: 657px) {
  .header {
    &_lgsg {
      margin-top: tpx(20);
      text-align: center;
      line-height: 2;
      font-weight: bold;

      .logins:hover {
        text-decoration: underline;
        color: khaki;
      }

      a,
      p {
        font-size: tpx(16);
      }
    }

    &_media_wrapper {
      margin: tpx(10) 0;
    }
  }
}
/* Samsung S8 y S8+ (HEIGHT) //NO HAY NADA*/
@media screen and (min-height: 740px) {
  .header {
    &_lgsg {
      margin: tpx(0) 0;
    }
    &_media_wrapper {
      margin: tpx(0) 0;
    }
  }
}
/* @media screen and (min-height: 760px){
  .header{
    &_lgsg{
      margin-top: tpx(0);
    }
    &_cbusqueda + ul{
      
      margin: 0 auto 0 0;
    }
  }
} */

/* Iphone SE */
@media screen and (min-width: 375px) {
  .header {
    &_lgsg {
      margin: tpx(80) 0 tpx(5);
      padding: tpx(0);
      line-height: 1;
    }
  }
}
/* Iphone X */
@media screen and (min-width: 375px) and (min-height: 812px) {
  .header {
    &_lgsg {
      margin: tpx(230) 0 tpx(20);
      line-height: 1.5;
    }
    &_media_wrapper {
      margin: tpx(0) 0;
    }
  }
}
/* Iphone 12 pro //NO HAY NADA*/
@media screen and (min-width: 390px) {
  /* Cambiamos los parametros del translate que corresponden a las dimensiones del width de los items del caroussel */
  /*   .caroussel_wrapper {
    @keyframes imageScroll {
      0% {
        transform: translateX(0);
      }
      40% {
        transform: translateX(-340px);
      }
      70% {
        transform: translateX(-680px);
      }
      100% {
        transform: translateX(-1020px);
      }
    }
  } */
}
/* Samsung A51/71, S20 Ultra */
@media screen and (min-width: 412px) and (min-height: 914px) {
  .header {
    &_lgsg {
      margin: tpx(300) 0 0;
    }
    &_media_wrapper {
      margin-top: tpx(40);
    }
  }
}
@media screen and (min-width: 412px){
  .dcmar{
    &_imgcon{
      justify-content: center;
      & > div{
        left: calc(100% - 65%);
      }
    }
    &_imgcon figure{
      height: 7rem;
    }
  }

}
/* Iphone 6/7/8 plus*/
@media screen and (min-width: 414px) and (min-height: 896px) {
  .header {
    &_lgsg {
      margin: tpx(250) 0 0;
    }
  }
}

/* ---------------> MEDIA QUERIES ~TABLETS~ */

/* Surface Duo */
@media screen and (min-width: 540px) {
  .stikybutton {
    width: 30px;
    height: 30px;
  }
  .header {
    width: auto;
    label {
      position: absolute;
      left: tpx(5);
      top: tpx(5);
      width: tpx(13);
      height: tpx(13);
      padding: tpx(4) tpx(11);
    }
    [type="checkbox"] {
      position: absolute;
      top: 20px;
      left: tpx(15);
      z-index: 4;
      /* visibility: hidden; */
    }
    [type="checkbox"]:checked ~ &_menuHmb {
      left: tpx(220);
    }
    [type="checkbox"]:checked ~ &_cnvg {
      position: absolute;
      display: block;
      margin: auto;
      width: 50vw;
      height: 100vh;
      font-weight: 300;
      background-color: $negro;
      overflow-y: scroll;
      
      .header_navegacion {
        height: 105vh;
        width: 100%;
      }
      .header_cbusqueda {
        width: 70%;
        margin: auto;
        [type="search"] {
          width: 100%;
          height: tpx(40);
        }
      }

      .header_lgsg {
        margin: tpx(150) 0 0;
        padding: 0 tpx(20);
      }
      .header_media_wrapper {
        margin: tpx(20) 0 0;
      }
    }
  }
  .recientes {
    margin-top: tpx(40);
    &_img {
      img {
        height: tpx(340);
      }
      figcaption {
        height: tpx(120);
      }
    }
    &_aside_wrapper {
      width: tpx(800);
      grid-template: minmax(450px, 1fr) / repeat(6, minmax(200px, 1fr));
      height: tpx(375);
      .aside_wrapper_items {
        height: 100%;

        img {
          height: 70%;
        }
      }
    }
  }
  .rodajes {
    &_info{
      display: flex;
    }
    img {
      height: tpx(300);
    }
    figcaption {
      padding: .2rem 0 0 1rem;
      height: auto;
      background-color: rgba(180, 180, 180, 0.178);
    }
  }
  .trailers {
    height: tpx(900);
    &_labelsWrapper {
      display: flex;
      gap: tpx(10);

      /* & > button */
      .labelButton{
        padding: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &_galeria {
      display: flex;
      flex-direction: column;
    }
    &_genero {
      gap: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      figure {
        margin-top: tpx(10);
        width: 100%;
        /* width: tpx(300); */
        max-width: 490px;

        img {
          height: tpx(260);
        }
      }
    }
  }
  .dcmar {
    &_imgcon {
      justify-content: center;
      gap: 2rem;

      & div{
        top: -.3rem;
        left:calc(100% - 69%);
        /* left: 11rem; */
        width: 10rem;
        z-index: 2;
    }
      figure {
        position: relative;
        width: tpx(500);
        height: tpx(190);
        overflow: visible;
        
        
        img {
          @include radius(8);
          height: 100%;
          width: 100%;
          background-color: rgb(84, 84, 84);
        }
      }
      figure::after {
        position: absolute;
        content: attr(data-valor);
        @include myFlex();
        bottom: tpx(-15);
        right: tpx(-15);
        width: tpx(50);
        height: tpx(50);
        font-size: 1rem;
        font-weight: 500;
        background-color: $orange;
        border: solid tpx(4) $blanco;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transform: translateY(-.3rem);
        -webkit-transform: translateY(-.3rem);
        -moz-transform: translateY(-.3rem);
        -ms-transform: translateY(-.3rem);
        -o-transform: translateY(-.3rem);
      }

     
    }
    &_comentarios {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: tpx(10) 0;

      .inp {
        display: none;

        textarea {
          margin-top: tpx(15);
          width: 164%;
          height: 80px;
          padding: tpx(5) tpx(13);
          font-size: tpx(16);
          background-color: rgb(227, 227, 227);
          outline: none;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
        }
        textarea:focus {
          outline: solid 2.4px rgb(222, 138, 27);
        }
        [type="submit"] {
          margin-top: tpx(8);
          padding: tpx(10) tpx(19);
          border: none;
          font-size: tpx(16);
          border-radius: tpx(30);
          -webkit-border-radius: tpx(30);
          -moz-border-radius: tpx(30);
          -ms-border-radius: tpx(30);
          -o-border-radius: tpx(30);
        }
      }
      [type="checkbox"]:checked + .inp {
        display: block;
      }
    }
    &_boton {
      position: relative;
      width: tpx(300);

      label {
        padding: tpx(5) tpx(10);
        background-color: $orange;
        color: $blanco;
        padding: 0.3rem 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: tpx(20);
        -webkit-border-radius: tpx(20);
        -moz-border-radius: tpx(20);
        -ms-border-radius: tpx(20);
        -o-border-radius: tpx(20);
      }
      [type="checkbox"] {
        position: absolute;
        left: 0;
        visibility: hidden;
      }

      .inp {
        display: none;
      }
      [type="checkbox"]:checked + .inp {
        display: block;

        textarea {
          min-height: tpx(30);
          max-height: tpx(130);
          min-width: tpx(340);
          max-width: tpx(340);
          margin: tpx(15) 0 0 0;
          padding: tpx(10) tpx(20);
          outline: none;
          border-radius: tpx(4);
          background-color: $grisTono5;
          color: rgb(29, 29, 29);
          letter-spacing: 1px;
          text-indent: 5px;
          -webkit-border-radius: tpx(4);
          -moz-border-radius: tpx(4);
          -ms-border-radius: tpx(4);
          -o-border-radius: tpx(4);
        }
        [type="submit"] {
          padding: .3rem .5rem;
          background-color: $grisTono2;
          color: $blanco;
          @include radius(3);
        }
      }
    }
    &_cantidad{
      position: relative;
    }
    &_cantidad::before {
      position: absolute;
      content: attr(data-comentarios);
      left: -1rem;
      width: max-content;
      color: $grisTono1;
    }
  }
  .valoradas {
    &_titulo {
      @include encabezadosMobil();
    }
    &_categoria {
      h3 {
        font-size: tpx(19);
        font-weight: 600;
        text-transform: uppercase;
      }
      & > h3 {
        font-size: tpx(22);
      }
    }
    &_lista {
      li {
        padding: 0;
      }
      figure {
        height: tpx(220);
        figcaption {
          h4{
            font-size: tpx(22);
          }
          p{
          font-size: tpx(19);
          }
          span {
            align-self: flex-end;
            width: tpx(30);
            height: tpx(30);
            margin-bottom: tpx(12);
          }
          img {
            height: 100%;
          }
        }
      }
    }
  }
  footer{
    .footer_container{
      padding: 0 tpx(20);
      display: grid;
      grid-template-areas: 
      "logo . media"
      "sections . media"
      "sections . .";
      justify-content: space-between;
      .logo{
        grid-area: logo;
      }
      .media{
        grid-area: media;

        li{
          background-color: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .sections{
        grid-area: sections;
        flex-direction: row;
        ul{
          display: inline;
          a{
            font-family: 'Roboto', sans-serif;
            font-weight: 200;
          }
        }
      }
    }
  }

}
/* Galaxy TAB S4 */
@media screen and (min-width: 712px) {
}
/* Galaxy TAB S4 */
@media screen and (min-width: 768px) {
}
/* iPad Air */
@media screen and (min-width: 820px) {
}

/*  ------------------> MEDIA QUERIES ~LAPTOPS~ */
@media screen and (min-width: 1024px) {
  #hamburguesa {
    display: none;
  }
  /* header logo */
  .header_logo {
    display: none;
  }
  /* Contenedor del notificaciones */
  .header_notificacion {
    @include myFlex;
    min-height: tpx(5);
    max-height: auto;
    background-color: $rojo;
  }

  .header_aviso {
    margin: tpx(8) tpx(8) tpx(8);
    width: calc(100% - tpx(130));
    p{
      font-size: tpx(12);
      font-family: 'Roboto';
    }
  }

  /* Header "redes sociales */
  .header_rs {
    width: tpx(100);
  }
  .header_rs > ul {
    display: flex;
    justify-content: space-between;
  }
  .header_rs > ul > li {
    transform: scale(0.8);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  /* Le damos animacion al conteneodr de los iconos */
  .header_rs > ul > li:hover {
    animation: liicon 0.2s 1 ease-in-out forwards;
    -webkit-animation: liicon 0.2s 1 ease-in-out forwards;
  }
  /* Iconos del header */
  .header_rs > ul i {
    font-size: tpx(22);
  }
  /* Animamos a los iconos una vez se haya hecho hover a los 'li'  */
  .header_rs > ul > li:hover i {
    animation: icon 0.2s 1 ease-in-out forwards;
    -webkit-animation: icon 0.2s 1 ease-in-out forwards;
  }

  @keyframes liicon {
    0% {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }

    100% {
      transform: scale(1.02);
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
    }
    /* Haciendo esto conseguimos que la imagen no se vuelva borrosa al momento que ocurre la animacion */
  }

  @keyframes icon {
    0% {
      font-size: tpx(22);
    }

    100% {
      font-size: tpx(22);
    }
  }
  /* Fin de header notificacion */

  /* Contenedor de navegacion */
  .header_cnvg {
    display: flex;
    width: 100%;
    height: tpx(90);
    padding: 0;
    justify-content: flex-end;
    background-color: $orange;
    border-bottom: solid tpx(2) gray;
    box-shadow: inset 0px 2px 10px #950404;

    & > div:first-child {
      /*  */
      position: relative;
      display: flex;
      align-items: center;
      height: tpx(100);
      background-color: rgb(246, 209, 0);
      overflow: hidden;

      a {
        position: absolute;
        background-color: rgb(59, 62, 61);
        width: tpx(200);
        height: tpx(110);
        /* debo centrarlo bien con calc() */
        left: calc(50% - 10.5%);
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
      }
    }
  }

  .header_navegacion {
    display: flex;
    height: 100%;
    margin: 0;
    padding-bottom: 0;
    align-items: center;
  }

  .header_listas {
    height: 100%;
    display: inline-flex;
    
    a {
      color: rgb(235, 235, 235);
    }
  }
  .header_cbusqueda + ul li{
    margin: 0;
    height: 100%;
    padding: 0 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header_cbusqueda + ul li:hover{
    background-color: $blanco2;
    a{
      color: $orange;
    }
    a:active{
      color: $orange4;
    }
  }
  /* Input busqueda */
  .header_cbusqueda {
    margin: 0 1rem  0 0;
    & + ul {
     margin: 0;
    }
    [type="search"] {
      width: tpx(230);
      height: tpx(38);
      padding: 0 tpx(12) 0 tpx(12);
      border: none;
      background-color: rgb(218, 215, 214);
      outline: solid tpx(2) $rojo;
      color: rgb(32, 33, 33);
      border-radius: tpx(19);
      -webkit-border-radius: tpx(19);
      -moz-border-radius: tpx(19);
      -ms-border-radius: tpx(19);
      -o-border-radius: tpx(19);
    }
  }
  .header_cbusqueda + ul li:not(li:first-child) {
    margin: 0;
  }

  /* Menu hamburguesa */
  .header_menuHmb {
    display: none;
    align-self: center;
  }
  /* Inicio de sesion y registro de usurio */
  .header_lgsg {
    margin: 0 2rem 0 10rem;
    div:first-child{
      a:hover{
        color: $blanco1;
        cursor: pointer;
        margin-bottom: .1rem;
        border-bottom:solid .2rem $blanco2;
      }
      a:active{
        color: $blanco;
      }
    }
    div:last-child{
      display: none;
    }
  }
  .header_media_wrapper {
    display: none;
  }
  /* Fin de contenedor de navegacion */

  main{
    margin: 0 7rem;
  }
  .container{
    padding: 0 2rem;
    background-color: $blanCont;
  }
  
  /* Caroussel de la cabecera */
  .caroussel {
    width: 100%;
    height: tpx(400);
    @include bordes(px);
    background-color: $default;
    /* Le damos un display flex temporal */
    display: block !important;
  }

  /*  texto : "Otras noticias" */
  .otn {
    display: none;
  }
/* recientes */
  .recientes {
      margin-top: tpx(30);
      display: flex;

    &_noticias{
        height: auto;
        margin-right: .3rem;
        width: 70%;
    }

    &_titulo {
      @include radiusTitle();
      @include encabezados();
    }

    &_img {
      @include radius();
      /* Aqui le estamos restando la altura de su contenedor padre menos la altura del header del contenedor para que asi este elemento 'encaje' sin sufrir desbordamiento*/
      height: 82%; /* Era : calc(100% - 13%) */
     overflow: hidden;
      img {
        text-align: center;
        display: block;
        /* Aplicamos el mismo principio que antes solo que esta vez tomamos en cuenta las alturas y margenes de su 'figcaption' */
        height: 100%;
        background-color: $default;
      }

      figcaption {
        display: flex;
        flex-direction: column;
        h3 {
          height: tpx(30);
          line-height: 1.5;
        }
        p {
          min-height: tpx(75);
          line-height: 1.5;
        }
      }
    }

    &_aside {
      width: 30%;
      height: auto;
      overflow: hidden;
      margin-right: 0;
      margin-top: 4.1rem;

      article {
        margin-bottom: tpx(50);
      }
      /* recientes_aside_wrapper */
      figure {
        position: relative;
        height: tpx(150);

        h2 {
          display: none;
        }
        img {
          display: block;
          height: 100%; /* calc(100% - 12%) */
        }

        figcaption {
          position: absolute;
          bottom: 0;
          background-color: rgba(15, 14, 14, 0.682);
          width: 100%;
          height: tpx(80);

          h3{
            font-size: 1rem;
            color: $blanco;
            width: max-content;
            border-bottom:solid .2rem $orange;
            padding: .5rem;
            letter-spacing: 2px;
          }
        }
      }

      div {
        text-align: center;
        a {
          text-decoration: underline;
        }
      }
    }
    .recientes_aside_wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: 0;
      margin-bottom: 0;
    }
    .aside_wrapper_items:first-child{
      margin-bottom: .3rem;
    }
    .aside_wrapper_items {
      width: 100%;
      height: 46.2%;
      img {
        width: 100%;
        height: 100%;
      }
      figcaption{
        bottom: 0;
      }
    }
    .aside_wrapper_items:nth-child(n + 3) {
      display: none;
    }
  }
  /* Rodajes */
  .rodajes{
    display: flex;
    &_art {
      margin-right: tpx(32);
      width: 70%;

      div{
        text-align: center;
        margin-top: tpx(50);
        a:hover {
          color: $grisTono2;
        }
        a:active{
          color: $gris;
        }
      }
    }

    &_titulo {
      @include radiusTitle();
      @include encabezados();
    }

    &_info {
      display: flex;
      position: relative;
      height: tpx(230);
      /* Le damos este margin a todos los items excepto al primero */
      &:not(.first) {
        margin-top: tpx(20);
      }

      img {
        width: 30%;
        height: 100%;
      }

      figcaption {
        position: relative;
        width: 67%;
        height: 100%;
        margin: 0 auto;
        background-color: inherit;

        h3{
          width: 100%;
          font-weight: 600;
          font-size: 1.4rem;
          color: $negro;
        }
        p {
          font-family: 'Roboto';
          height: calc(100% - 24%);
        }
      }
    }
    &_info:hover figcaption{
      background-color: $orange3;
    }
    &_info:hover::after{
      position: absolute;
      content: "";
      left: 0;
      width: 30%;
      height: 100%;
      z-index: 2;
      background-color: rgba(17, 1, 1, 0.148);
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
    }

    &_aside {
      margin-top: tpx(75);
      width: 26%;
      padding: 1rem 0 1rem;
      height: max-content;
      display: initial;
      background-color: #ea2a12;
      box-shadow: inset 10px 10px 10px #cd1a1a;
    }
    /* rodajes_aside */
    &_item {
      width: 90%;
      height: 10rem;
      margin: auto;
      border-radius: .5rem;

      img {
        display: block;
        width:100%;
        height: calc(100% - 33.3%);
        object-fit: cover;
      }

      figcaption  {
        background-color: #ffffff;
        padding: .4rem .3rem;

        p,h3 {
          font-family: 'Roboto';
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: black;
          font-weight: 500;
        }
        p{
          font-size: .8rem;
        }
      }
    }
  }
  /* Trailers */
  .trailers {
    height: auto;
    &_titulo {
      @include radiusTitle();
      @include encabezados();
      margin: 0 tpx(60) tpx(40) 0;
      display: inline-flex;
    }
    &_labelsWrapper {
      width: tpx(470);
      display: inline-flex;

      .labelButton {
        position: relative;
        height: auto;
        padding: 0;
        margin: 0;
        background-color: $blanco1;
        outline: none;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
      }
      label {
        font-size: tpx(21);
        font-weight: 500;
        margin: 0;
        padding: .2rem .7rem;
      }
      label::before {
        position: absolute;
        content: "";
        width: 0%;
        height: tpx(4.5);
        bottom: 0;
        left: 0;
        background-color: $orange;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
      }
      .labelButton > label:checked  label::before {
        width: 100%;
        transition: all 0.2s ease-in-out;
      }
    }

    &_galeria {
      overflow: hidden;
      height: tpx(400);
      padding: 1rem 0;
      background-color: rgb(44, 44, 45);
    }

    .galeria_inner {
      width: 100%;
      height: 90%;
      position: absolute;
    }

    &_genero {
      height: 100%;
    position: relative;
    display: grid;
    grid-template-areas:
        "peliculas peliculas series"
        "peliculas peliculas animes";
    grid-template-columns: 3fr 1fr 2fr;
    gap: .3rem;


      & > figure {
        max-width:-webkit-fill-available;
        height: 100%;
        overflow: hidden;

        img {
          display: block;
          height: 100%;
        }
      }
      & > figure:nth-child(1){
        margin-top: 0;
        grid-area: peliculas;
      }
      & > figure:nth-child(2){
        grid-area: series;
      }
      & > figure:nth-child(3){
        grid-area: animes;
      }
    }
    .trailers_genero figure:not(figure:first-child){
      margin-top: 0;
    }
  }
  /* DC VS MARVEL */
  .dcmar {
    &_titulo {
      @include radiusTitle();
      @include encabezados();
    }

    &_rw {
      margin: 0 tpx(12);
      gap: 20;

      header {
        margin: tpx(10) 0;

        hr {
          width: 100%;
          margin: 0 0 0 tpx(15);
          border: solid tpx(1);
        }
      }
    }
    &_rw:nth-child(2) {
      margin-bottom: tpx(52);
    }

    &_container {
      display: flex;
      flex-direction: row;
      gap: tpx(25);

      & > div {
        width: 50%;
      }
    }

    &_imgcon {
      display: grid;
      width: 100%;
      grid-template-columns: 2fr 2fr;
      justify-items: center;
      gap: 1rem;

      figure {
        position: relative;
        margin: tpx(10) 0 0 0;
        display: flex;
        width: 100%;
        height: 12rem;
        max-height: none;
        overflow: visible;
        img {
          @include radius(8);
          overflow: hidden;
          display: block;
          height: 100%;
          width: 100%;
          object-fit: cover;
          background-color: rgb(84, 84, 84);
          transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        -ms-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        }
      }
      figure:hover img{
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
        transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        -ms-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
}
      figure::after {
        position: absolute;
        content: attr(data-valor);
        @include myFlex();
        bottom: tpx(-15);
        right: tpx(-15);
        width: tpx(50);
        height: tpx(50);
        font-size: 1.2rem;
        font-weight: 500;
        background-color: $orange;
        border: solid tpx(4) $blanco;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transform: 40px 40px;
        -webkit-transform: 40px 40px;
        -moz-transform: 40px 40px;
        -ms-transform: 40px 40px;
        -o-transform: 40px 40px;
      }

      div {
        text-align: center;
        align-self: center;
      }
    }

    &_comentarios {
      display: flex;
      margin: 0 tpx(28) tpx(10) tpx(10);
    }
    &_boton {
      /* padding: 0 0 0 tpx(25) ; */
      position: relative;
      width: tpx(300);

      label {
        font-family: 'Roboto', sans-serif;
        background-color: $orange;
        color: $blanco;
        padding: 0.4rem .8rem;
        font-size: .8rem;
        font-weight: 600;
        border-radius: tpx(20);
        -webkit-border-radius: tpx(20);
        -moz-border-radius: tpx(20);
        -ms-border-radius: tpx(20);
        -o-border-radius: tpx(20);
}
      label:hover{
        background-color: $orange1;
      }
      label:active{
        background-color: $orange4;
      }
      [type="checkbox"] {
        position: absolute;
        left: 0;
        visibility: hidden;
      }

      .inp {
        display: none;
      }
      [type="checkbox"]:checked + .inp {
        display: block;

        textarea {
          min-height: tpx(30);
          max-height: tpx(130);
          min-width: tpx(340);
          max-width: tpx(340);
          margin: tpx(15) 0 tpx(5) 0;
          padding: tpx(10) tpx(10);
          outline: none;
          border-radius: tpx(4);
          background-color: $grisTono5;
          color: rgb(29, 29, 29);
          letter-spacing: 1px;
          text-indent: 5px;
          -webkit-border-radius: tpx(4);
          -moz-border-radius: tpx(4);
          -ms-border-radius: tpx(4);
          -o-border-radius: tpx(4);
        }
        [type="submit"] {
          background-color: $grisTono3;
          color: $blanco;
          @include radius(3);
        }
      }
    }
    &_cantidad {
      position: relative;

      p {
        font-size: 1rem;
        font-weight: 600;
        color: $grisTono2;
      }
    }

    &_cantidad::before {
      position: absolute;
      content: attr(data-comentarios);
      top: tpx(0);
      left: calc(-100% + 75%);
      width: tpx(40);
      height: tpx(30);
      color: $grisTono2;
    }
  }
  /* Mejor Valoradas */
  .valoradas {
    margin-bottom: tpx(60);
    &_titulo {
      @include radiusTitle();
      @include encabezados();
      margin-bottom: tpx(30);
    }

    &_container {
      width: 100%;
      display: grid;
      grid-template-areas:
        "A A A A"
        "A A A A"
        "B B C C";
      gap: 0 20px;
      .valoradas_categoria:first-child {
        width: 100%;
        grid-area: A;

        figure{
          height: 16.75rem;

          img{
            width: 19%;
          }
        }
      }
      .valoradas_categoria:nth-child(2) {
        width: 100%;
        grid-area: B;
      }
      .valoradas_categoria:last-child {
        width: 100%;
        grid-area: C;
      }
    }

    /*     &_categoria:not(.valoradas_categoria:last-child) {
      padding-right: tpx(18);
      border-right: solid 2px gray;
    } */

    &_categoria {
      margin: auto;

      & > h3 {
        margin-bottom: tpx(5);
        font-size: tpx(25);
        letter-spacing: 2px;
      }

      & > figure img {
        display: block;
        width: tpx(270);
        height: tpx(190);
        object-fit: cover;
        background-color: rgb(67, 67, 67);
        @include radius();
      }

      ul {
        padding: tpx(5);

        li {
          padding: tpx(10);
          border-bottom: solid 1.6px $grisTono3;
          a {
            color: rgb(0, 136, 255);
          }
          a:hover {
            color: aqua;
            text-decoration: underline;
          }

          figcaption {
            h3 {
              font-size: tpx(25);
              color: $grisTono1;
            }
            p {
              font-size: tpx(18);
              font-family: 'Roboto';
              font-weight: 400;
              color: $negro;
            }
          }
        }
        li:not(li:last-child) {
          margin-bottom: tpx(3);
        }
      }
    }
  }

  .plataformas{
    margin-top: 5rem;
    &_wrapper {
      overflow: hidden;
      height: auto;
      & > div{
        position: relative;
        width: 100%;
        height: 24rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    
      }
      h2{
        color: $grisTono1
      }
      &_inner {
        position: absolute;
        display: flex;
        width: auto;
        align-items: center;
        margin-bottom: tpx(18);
        scroll-snap-align: center;
        
        .plataformas_items{
        display: inline-block;
        width: 13rem;
        height: 20rem;
        margin: 0 4px;
        font-size: tpx(15);
        text-align: center;
        scroll-snap-align: start;

        img {
          display: block;
          @include radius();
          height: 100%;
        }
        figcaption {
          margin-top: tpx(12);
          text-align: center;
          font-size: tpx(10);
        }
      }
    }
  }
    &_wrapper:nth-child(n+2){
      margin-top: 2rem;
    }
}
  /* Fin main */

  /* FOOTER */
  .footer {
    background-color: $negro;
    padding-top: tpx(15);
    & > div:nth-child(1) {
      display: flex;
      justify-content: space-around;
      margin-bottom: tpx(20);

      /* Logo + redes sociales */
      .media_wrapper {
        display: flex;
        gap: tpx(50);

        ul {
          margin-top: tpx(10);
          display: flex;
          justify-content: space-between;
          gap: tpx(15);

          i {
            font-size: tpx(20);
          }
        }
      }
      /* Contenido de la pagina */
      & > section:nth-child(2) {
        display: flex;

        article {
          margin: 0 tpx(20);

          h3 {
            margin-bottom: tpx(10);
          }

          li {
            margin: tpx(10) 0;
          }
        }
      }
    }
    /* Copyright */
    & > section:nth-child(2) {
      border-top: solid tpx(1.4) $negroclaro;
      display: flex;
      justify-content: space-between;
      padding: tpx(5) tpx(15);
    }
  }
  /* Fin footer */
}
@media screen and (orientation: landscape){
  .stikybutton{
    width: tpx(23);
    height: tpx(23);
  }
}